/* General Styling */
body {
    margin: 0;
    font-family: 'Technovier Bold', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header */
header {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}

/* About Section */
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
}

.about-section img {
    width: 300px;
    border-radius: 10px;
}

/* Services Section */
.services-section {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

.service-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service-card {
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card img {
    width: 100%;
    border-radius: 10px;
}

/* Contact Section */
.contact-section {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-form {
    margin: auto;
    width: 50%;
    text-align: left;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial;
}

/* Social Media Section */
.social-media-section {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: #333;
    color: #f0f0f0;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1a1a1a;
    color: white;
}
